body {
  font-family: Muli, sans-serif;
  font-size: 14px;
}

.wrapper {
  margin: 2em;
  padding: 1em;
}

h1, h2, nav, a {
  font-weight: 300;
  line-height: 1.0; 
  text-align: center;
  text-decoration: none;
}

h1 a { 
  color: #e74c3c;
  font-size: 1em;
}

h2 a {
  font-size: 1em;
}

a {
  color: #bdc3c7;
  text-decoration: none;
}

a:hover {
  color: #e74c3c;  
}

