* {
    margin: 0;
    padding: 0;
}

body {
    color: #000000;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
}

img.preload {
    display: none;
}

.wrapper {
    margin-left: 2%;
    margin-right: 2%;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    opacity: 0.6;
}

h2 {
    color: #000000;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    padding: 2%;
    text-align: center;
}

h1 a { 
    color: #000000;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    float: left;
    letter-spacing: 2px;
    padding: 2%;
    text-align: left;
    text-decoration: none;
}

h2 a {
    float: right;
}

#placeholder {
    height: 400px;
    margin: 0 auto;
    width: 80%;
}

#portfolio {
    box-sizing: border-box;
    display: inline-block;
    height: 200px;
    padding-top: 100px;
    text-align: center;
    width: 100%;
}

#about {
    margin: 0 auto;
    max-width: 750px;
}

#about a {
    text-decoration: underline;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: .15em;
    padding: 5px;
    text-align: left;
}

#links {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#links a { 
    text-decoration: underline;
 }

footer {
    padding: 2em;
    text-align: center;
}

#copyright {
    font-size: 12px;
    padding-bottom: 20px;
}

.fadeIn {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.2s;
}