* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%
}

.fadeIn {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0.2s;
}


h1 a { 
    display: block;
    color: #1c1c1c;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    letter-spacing: 1px;
    padding-top: 3%;
    padding-bottom: 3%;
    text-decoration: none;
}

h2 { 
    display: block;
    color: #1c1c1c;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    letter-spacing: 1px;
    padding-top: 3%;
    padding-bottom: 3%;
    text-decoration: none;
}


p {
    color: #1c1c1c;
    font-family: "DM Mono", monospace;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    font-style: normal;
    line-height: 32px;
    text-decoration: none;
}

li {
    color: #1c1c1c;
    font-family: "DM Mono", monospace;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 24px;
    list-style: none;
    padding-bottom: 3%;
}

a {
    color: #1c1c1c;    
    font-family: "DM Mono", monospace;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 24px;
    list-style: none;
    padding-bottom: 3%;
    text-decoration: underline;
    color: black;
}

a:hover {
    font-weight: 500;
}

#name:hover {
    font-weight: 300;
    text-decoration: none;
}
